    @model RecipeViewModel

<div class="container-fluid">
    
@*    <div class="list-group mb-2">
		<a class="list-group-item list-group-item-action flex-column align-items-start">
			<div class="d-flex justify-content-between align-items-center">
				<div class="d-flex flex-column">
					<h5 class="mb-1">@item.Title</h5>
					<small>@item.CreationTimeFormattedString</small>
					<p class="mb-1">@item.Description</p>
				</div>
				<div style="max-width:100px">
					<img class="img-fluid" src="@imagePath">
				<div>
			</div>
		</a>
	</div>		*@

    <!--image + description-->
    <div class="mb-3">
        <div class="col card bg-light flex-column">
            <div class="card-body d-flex justify-content-start align-items-center">
                @if (Model.FileManager.Files is not null && Model.FileManager.Files.Any())
                {
                    string titleImageName = @Model.FileManager.Files.First().FullName;
                    <div class="" style="max-width:150px">
                        <img class="img-fluid rounded" src="@titleImageName.Substring(titleImageName.LastIndexOf("\\uploads"))" style="max-width: 170px; max-height: 150px;">
                    </div>
                }  
                <div class="d-flex flex-column ms-3">
                    <h3>
                        @Model.Recipe.Title
                    </h3>
                    <p class="text-seconary">
                        @(Model.Recipe.CreationTime.ToShortDateString()), @(Model.Recipe.CreationTime.ToShortTimeString())
                    </p>
                    <p class="text-muted">
                        @Model.Recipe.Author.UserName
                    </p>
                    <p>
                        @Model.Recipe.Description
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--ingridient list and directions-->
    <div class="row mb-3">
        <div class="col-4">
            <div class="card bg-light">
                <h3 class="card-header">Ingredients list</h3>
                <div class="card-body">
                    @for (var i = 0; i < @Model.Recipe.Ingredients.Count; i++)
                    {
                        <span class="d-flex">@Model.Recipe.Ingredients[i]</span>
                    }                              
                </div>
            </div>
        </div>
        <div class="col">
            <!-- images gallery-->
            @if (Model.FileManager.Files is not null && Model.FileManager.Files.Length > 1)
            {            
                <div class="mx-3 mb-3">
                    @for (var i = 1; i < @Model.FileManager.Files.Length; i++)
                    {
                        string imagePath = Model.FileManager.Files[i].FullName.Substring(@Model.FileManager.Files[i].FullName.LastIndexOf("\\uploads"));
                                               
                        <img class="rounded" src="@imagePath" style="width: 100%; max-width: 170px; max-height: 170px;">
                    }
                </div>
            }
            <div class="row card ms-3 bg-light">
                <h3 class="card-header">
                    Directions
                </h3>
                <div class="card-body">
                    @for (var i = 0; i < @Model.Recipe.Steps.Count; i++)
                    {
                        <h5>Step @(i + 1)</h5>
                        <p>@Model.Recipe.Steps[i]</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

