    @model Recipe

<div class="container-fluid">
    
    <!--image + description-->
    <div class="row">
        @if (Model.Images is not null && Model.Images.Any()){
            <div class="col-2 mb-3 me-3" style="background: url(@Model.Images.First()); background-size: 100%; border-radius: 0.25rem;"></div>
            
        }
        <div class="col card mb-3 bg-light">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h3>
                        @Model.Title
                    </h3>
                    <p class="text-seconary">
                        @(Model.CreationTime.ToShortDateString()), @(Model.CreationTime.ToShortTimeString())
                    </p>
                </div>
                <p class="text-muted">
                    @Model.Author.UserName
                </p>
                <p>
                    @Model.Description
                </p>
            </div>
        </div>
    </div>

    <!--ingridient list and directions-->
    <div class="row mb-3">
        <div class="col-4">
            <div class="row card bg-light">
                <h3 class="card-header">Ingredients list</h3>
                <div class="card-body">
                        @for (var i = 0; i < @Model.Ingredients.Count; i++)
                        {
                            <span class="d-flex">@Model.Ingredients[i]</span>
                        }                              
                </div>
            </div>
        </div>
        <div class="col">
            <!-- images gallery-->
            @if (Model.Images is not null && Model.Images.Count > 1)
            {            
                <div class="row mx-3 mb-3">
                    @for (var i = 1; i < @Model.Images.Count; i++)
                    {
                        <div class="col">
                            <img class="rounded" src="@Model.Images[i]" style="width: 100%; max-width: 170px; max-height: 170px;">
                        </div>
                    }
                </div>
            }
            <div class="row card ms-3 bg-light">
                <h3 class="card-header">
                    Directions
                </h3>
                <div class="card-body">
                    @for (var i = 0; i < @Model.Steps.Count; i++)
                    {
                        <h5>Step @(i + 1)</h5>
                        <p>@Model.Steps[i]</p>
                    }
                </div>
            </div>
        </div>
    </div>

    <form asp-controller="Recipes" asp-action="Index" method="get">
        <button class="btn btn-primary">
            To recipe list
        </button>
    </form>
</div>

