    @model RecipeViewModel

<div class="container-fluid">
    
    <!--image + description-->
    <div class="row mb-3">
        @if (Model.FileManager.Files is not null && Model.FileManager.Files.Any()){
                <img class="col-2 me-3 rounded" src="@Model.FileManager.Files.First().FullName.Substring(@Model.FileManager.Files.First().FullName.LastIndexOf("\\uploads"))" style="max-width: 170px; max-height: 150px;">
        }
        <div class="col card bg-light">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h3>
                        @Model.Recipe.Title
                    </h3>
                    <p class="text-seconary">
                        @(Model.Recipe.CreationTime.ToShortDateString()), @(Model.Recipe.CreationTime.ToShortTimeString())
                    </p>
                </div>
                <p class="text-muted">
                    @Model.Recipe.Author.UserName
                </p>
                <p>
                    @Model.Recipe.Description
                </p>
            </div>
        </div>
    </div>

    <!--ingridient list and directions-->
    <div class="row mb-3">
        <div class="col-4">
            <div class="card bg-light">
                <h3 class="card-header">Ingredients list</h3>
                <div class="card-body">
                    @for (var i = 0; i < @Model.Recipe.Ingredients.Count; i++)
                    {
                        <span class="d-flex">@Model.Recipe.Ingredients[i]</span>
                    }                              
                </div>
            </div>
        </div>
        <div class="col">
            <!-- images gallery-->
            @if (Model.FileManager.Files is not null && Model.FileManager.Files.Length > 1)
            {            
                <div class="mx-3 mb-3">
                    @for (var i = 1; i < @Model.FileManager.Files.Length; i++)
                    {
                        <img class="rounded" src="@Model.FileManager.Files[i].FullName.Substring(@Model.FileManager.Files[i].FullName.LastIndexOf("\\uploads"))" style="width: 100%; max-width: 170px; max-height: 170px;">                    
                    }
                </div>
            }
            <div class="row card ms-3 bg-light">
                <h3 class="card-header">
                    Directions
                </h3>
                <div class="card-body">
                    @for (var i = 0; i < @Model.Recipe.Steps.Count; i++)
                    {
                        <h5>Step @(i + 1)</h5>
                        <p>@Model.Recipe.Steps[i]</p>
                    }
                </div>
            </div>
        </div>
    </div>

    <form asp-controller="Recipes" asp-action="Index" method="get">
        <button class="btn btn-primary">
            To recipe list
        </button>
    </form>
</div>

