    @model Recipe

<div class="container-fluid">
    
    <!--image + description-->
    <div class="row">
        @if (Model.Images is not null){
            <div class="col-2 mb-3" style="background: url(data:image/jpeg;base64,@(Convert.ToBase64String(Model.Images.First().Data))); background-size: 100%; border-radius: 0.25rem;"></div>
        }
        <div class="col card mb-3 mx-3 bg-light">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h3>
                        @Model.Title
                    </h3>
                    <p class="text-seconary">
                        21 December 2021, 12:23
                    </p>
                </div>
                <p class="text-muted">
                    @Model.Author.UserName
                </p>
                <p>
                    @Model.Description
                </p>
            </div>
        </div>
    </div>

    <!--ingridient list and directions-->
    <div class="recipe-block row">
        <div class="col-4 card mb-3 bg-light">
            <h3 class="card-header">Ingredients list</h3>
            <div class="card-body list-group">
                <ul>
                    @for (var i = 0; i < @Model.Ingredients.Count; i++)
                    {
                        <li class="d-flex">@Model.Ingredients[i]</li>
                    }                              
                </ul>
            </div>
        </div>
        <div class="col">
            <!-- images gallery-->
            <div class="row mx-3 mb-3">
                @for (var i = 1; i < @Model.Images.Count; i++)
                {
                    <div class="col">
                        <img class="rounded" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Images[i].Data))" style="width: 100%; max-width: 170px; max-height: 170px;">
                    </div>
                }
            </div>
            <div class="row card mx-3 mb-3 bg-light">
                <h3 class="card-header">
                    Directions
                </h3>
                <div class="card-body">
                    @for (var i = 0; i < @Model.Steps.Count; i++)
                    {
                        <h5>Step @i</h5>
                        <p>@Model.Steps[i]</p>
                    }
                </div>
            </div>
        </div>
    </div>

    <button asp-controller="Recipes" asp-action="Index" class="btn btn-primary">
        To recipe list
    </button>
</div>

