@model Recipe

<div class="container-fluid">
    <!--image + description-->
    <div class="recipe-block row">
        <div class="col-2">
            @{
                //if (String.IsNullOrWhiteSpace(Model.TitleImagePath))
                //{
                //    <img class="recipe-detail__image-title" src="/images/no-photo.jpg" />
                //}
                //else
                //{
                //    <img class="recipe-detail__image-title" src="@Model.TitleImagePath" />
                //}
            }
        </div>
        <div class="col">
            <h3>
                @Model.Title
            </h3>
            <div class="flex-row">
                <p class="text-secondary">
                    @*@Model.CreationTime.ToShortDateString()*@
                    <br />
                    @*by @Model.Author.UserName*@
                </p>
            </div>
            <p>
                @Model.Description
            </p>
        </div>
    </div>

    <!--Image collection-->
    <div class="row">
@*        @foreach (var item in Model.ImagesPaths)
        {
            <div class="col recipe-detail__additional-images-container" style="background-image:url(@item)">

            </div>
        }*@
    </div>

    <!--ingridient list and directions-->
    <div class="recipe-block row">
        <div class="col-4">
            <h3>
                Ingridients
            </h3>
            <ul class="list-group">
                @foreach (var item in Model.Ingridients)
                {
                    <li class="d-flex justify-content-between align-items-center">
                        <span>
                            @item
                        </span>
                    </li>
                }
            </ul>
        </div>
        <div class="col">
            <h3>
                Steps
            </h3>
            @for (int i = 0; i < Model.Steps.Count(); i++)
            {
                <h5>
                    Step @i
                </h5>
                <p>
                    @Model.Steps[i]
                </p>
            }
        </div>
    </div>
    
    <a asp-controller="Recipes" asp-action="Index">Back to recipe list</a>
</div>

