@model IEnumerable<Recipe>

	<div class="container-fluid">
		<a asp-controller="Recipes" asp-action="Create">Add a new recipe</a>

		@foreach (var item in Model)
		{
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">@item.Title</h4>
					<h6 class="card-subtitle mb-2 text-muted">by @item.Author</h6>
					<p class="card-text">@item.Description</p>
					<a asp-controller="Recipes" asp-action="Details" asp-route-id="@item.Id" class="link">Details</a>
					<a asp-controller="Recipes" asp-action="Edit" asp-route-id="@item.Id" class="link">Edit</a>
					<a asp-controller="Recipes" asp-action="Delete" asp-route-id="@item.Id" class="link-danger">Delete</a>
				</div>	
			</div>
		}
	
		
	</div>


